<h1 class="">Listing Users</h1>

<ul class="users_list">
  <li>
    <span>Name</span> <span>Username</span> <span><span>Action</span></span>
  </li>
  <%= for user <- @users do %>
  <li>
    <span><%= first_name(user) %></span> <span><%= user.username%></span>
    <span><button><%= link "Show", to: Routes.user_path(@conn, :show, user.id) %></button></span>
  </li>
  <% end %>
</ul>
</div>
