<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ready to Rumblllll!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn,
    "/css/app.css")%>"/>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body class="">
    <nav>
      <span class="nav__brand"
        ><%= link "Rumbl.IO", to: Routes.page_path(@conn, :index) %></span
      >
      <ul>
        <li><%= link "Create User", to: Routes.user_path(@conn, :new) %></li>
        <li><%= link "Lists", to: Routes.user_path(@conn, :index) %></li>
        <%= if @current_user do %>
        <li><%= @current_user.username %></li>
        <li>
          <%= link "Log out", to: Routes.session_path(@conn, :delete,
          @current_user), method: "delete" %>
        </li>
        <% else %>
         <li><%= link "Register", to: Routes.user_path(@conn, :new) %></li>
         <li><%= link "Log in", to: Routes.session_path(@conn, :new) %></li>
        <% end %>
      </ul>
    </nav>

    <main class="container">
      <p class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </p>

      <p class="alert alert-danger" role="alert">
        <%= get_flash(@conn, :error) %>
      </p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script
      type="text/javascript"
      src='<%= Routes.static_path(@conn, "/js/app.js") %>'
    ></script>
  </body>
</html>
