<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ready to Rumblllll!</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
    <link rel="stylesheet" href="<%= Routes.static_path(@conn,
    "/css/app.css")%>"/>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body class="bg-purple-100 min-h-screen">
    <section class="hero bg-purple-700 text-white">
      <div class="hero-body">
        <div class="container">
          <h1 class="title text-white">
            <%= link "Rumbl.IO", to: Routes.user_path(@conn, :index) %>
          </h1>
          <p class="subtitle text-white">Rumbl Out Loud!</p>
        </div>
      </div>
    </section>
    <section class="container p-15 mx-auto">
      <%= render @view_module, @view_template, assigns %>
    </section>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <script
      type="text/javascript"
      src='<%= Routes.static_path(@conn, "/js/app.js") %>'
    ></script>
  </body>
</html>
